<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey Am Daniel Egonyu</h1>
		<p>Welcome to my Test Ruby on Rails application</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur mollitia quo dolores dignissimos eum voluptatum repellat hic nisi quae necessitatibus!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat similique tempore iusto temporibus debitis? Sit quaerat sed asperiores amet odio mollitia aliquid nam odit commodi facere eius, alias magni vitae consequuntur iusto assumenda cum voluptates officia, corrupti nesciunt aperiam! Sapiente.</p>
	</div>
</div>